// typography.scss
// contains typographiy styles
//---------------- Custom Selection Colors
// mozilla firefox */
::-moz-selection {
    color: $secondary;
    background: $primary;
    text-shadow: none;
}

// webkit, opera, IE9 */
::selection {
    color: $secondary;
    background: $primary;
    text-shadow: none;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

